*{
    background-image:url("./assets/bg.png");
}



.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.display-flex{
    display:flex;
}
.header{
    display:flex;
}
.header-secondary-bg{
    width:1440px;
    height:102px;
    margin: 0 auto;
    margin-top:50px;

}
.nav-img{
    justify-content:none;
    width:62px;
    height:62px;
    margin-left: 70px;
    
    
    
}
.nav-title{
    display:flex;
    
    


}
.navbar1{
    justify-content:space-around;
    
}
.navbar{
    align-items:center;
    justify-content:space-between;
    margin-bottom:26px;
}
.nav-heading{
    font-weight:700;
    color:black;
    font-size:1.4rem;
    
}



.nav-1{
    display:flex;
    border:none;
    gap:30px;

}
.nav-item{
    margin-right:20px;
    list-style:none;
}
.nav-link{
    text-decoration:none;
}
#dark1{
    width:58%;
    height:30%;
    font-size:bold;
    color:orange;
}
#dark2{
    width:58%;
    height:30%;
    font-size:bold;
    color:skyblue;
    
}
#dark3{
    width:58%;
    height:30%;
    font-size:bold;
    color:#05D4DF;
}
#dark4{
    width:58%;
    height:30%;
    font-size:bold;
    color:#5D58EF;
}
.btn-primary{
    background-color:orange;
    font-weight:bold;
    font-size:15px;
    color:white;
    padding:11px 45px;
    border-radius:9px;
    border:none;
}

.banner-container{
    justify-content:space-between;
}

.banner-details{
    
    width: 580px;
    height:271px;
}

.banner-heading{
    font-size:3.2rem;
    font-weight:700;
    /*
    margin-bottom:156px;
    */
    margin-left:70px;
    /*
    padding-bottom:auto;
    
    margin-top:auto;
    */
}
.banner-description{
    margin-left:70px;
    font-weight: 100;
    color:gray;
}
.banner-btn1{
    margin-left:70px;
    
}

main{
    max-width:1140px;
    margin:0 auto;
}
main section{
    margin-top:700px;
    margin-bottom:300px;
    margin-left:70px;

}
.section-title{
    font-size:45px;
    font-weight:bold;
    color:#181818;
}

.Standard-curriculum{
    display:flex;
    gap:24px;
}
.text-center{
    text-align:center;
}

.btn{
    text-align:center;
    margin-top:100px;
    
}
.banner-btn3{
    background-color:orange;
    font-weight:bold;
    font-size:25px;
    color:white;
    padding:19px 19px;
    border-radius:100px;
    border:none;
    
}

.curriculum{
    padding:30px;
    border-radius:5px;
    box-shadow:0px 6px 50px 0px rgba(0,0,0,0.06);
    
    
    
}
#c1{
    background-color:#DEF5FF;
    
 }

#c2{
    background-color:#FFF4DC;
}
#c3{
    background-color:#F2E8FF;
}
.banner-btn2{
    text-align:center;
}
#b1{
    color:white;
    background-color:#64C8FF;
    font-size:16px;
    text-align:center;
}
#b2{
    color:white;
    background-color:#F0AA00;
    font-size:16px;
    text-align:center;

}
#b3{
    color:white;
    background-color:#8700FF;
    font-size:16px;
    text-align:center;

}
.Our-Stories{
    margin-top:20px;
}

.stories-card{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
.c{
    
    width:300px;
    height:400px;
    border-radius:5px;
    margin-bottom:40px;
    border:1px solid rgba(136,136,136,0.15);
    box-shadow:rgba(0,0,0,0.15);
}

.card-heading{
    font-size:1.7rem;
    font-weight:500;
    color:#18191F;
    margin-bottom:6px;
    margin:0px;
}


.card{
    height:400px;
    display:flex;
    gap:5px;
    margin-bottom:5pm;
}
.card1{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid:5px;
}
.card3{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid:5px;
}

footer{
    max-width:1890px;
    margin:0 auto;
    background-color:#01ACFD;
    margin-top:600px;
    margin-bottom:100px;
    margin-left:70px;

}
.fd{
    font-weight:700;
}

.direc{
    display:flex;
    gap:30px;
}

.icon{
    gap:10px;
}
.link{
    color:white;
    border:none;
    text-decoration:none;
}


@media screen and (max-width:576px){
    .header-secondary-bg{
    
        max-width:80px;
    }
    .footer{
        max-width:80px;
    }
}